<section class="ng-automovile">
    <div class="ng-automovile__item--placa">
        <span>PLACA</span>
        <p>{{placa}}</p>
    </div>
    <div class="ng-automovile__item--name">
        <span>NOMBRE</span>
        <p>{{name}}</p>
    </div>
    <div class="ng-automovile__item--brand">
        <span>MARCA</span>
        <p>{{marca}}</p>
    </div>
    <div class="ng-automovile__item--reference">
        <span>REFERENCIA</span>
        <p>{{referencia}}</p>
    </div>
    <div class="ng-automovile__item--year">
        <span>AÑO</span>
        <p>{{anio}}</p>
    </div>
</section>
