<section class="ng-select">
    <div class="ng-select__items">
        <div class="ng-select__item">
            <img src="./../../../assets/img/axa.png" class="ng-select__item--img" alt="">
            <span>x</span>
        </div>
        <div class="ng-select__item">
            <img src="./../../../assets/img/axa.png" class="ng-select__item--img" alt="">
            <span>x</span>
        </div>
        <div class="ng-select__item">
            <img src="./../../../assets/img/axa.png" class="ng-select__item--img" alt="">
            <span>x</span>
        </div>
        <div class="ng-select__item">
            <img src="./../../../assets/img/axa.png" class="ng-select__item--img" alt="">
            <span>x</span>
        </div>
        <div class="ng-select__item-none">
            <span>+</span>
        </div>
        <div class="ng-select__item-none">
            <span>+</span>
        </div>
    </div>
    <div class="ng-select__actions">
        <div class="ng-select__actions--container">
            <button class="ng-zalabin__btn" (click)="eventAseguradoraCompared()">Comparar 4 seguros</button>
            <a href="">Limpiar</a>
        </div>
        
    </div>

</section>
