<a>Volver a vista general!</a>
<section class="ng-compare">
    <div class="ng-compare__item">
        <span class="ng-compare__item--close">x</span>
        <img src="./../../../assets/img/axa.png" alt="" width="80" height="80">
        <strong>Plan Famiestado al 100%</strong>
        <strong>$1.872.477</strong>
        <span>DAÑOS A TERCEROS</span>
        <p>$4.000 millones</p>
        <span>PÉRDIDA TOTAL</span>
        <p>Sin deducible</p>
        <span>PÉRDIDA PARCIAL</span>
        <p>Deducible 10% mínimo 1 smmlv</p>
        <span>COBERTURA</span>
        <p>- Grúa: Por avería y accidente.<br>
        - Conductor elegido: Ilimitado.<br>
        - Vehículo de reemplazo: Por pérdida total y parcial.</p>
        <a href="">Ver detalles</a>
        <button class="ng-zalabin__btn">Solicitar</button>
    </div>
    <div class="ng-compare__item">
        <span class="ng-compare__item--close">x</span>
        <img src="./../../../assets/img/axa.png" alt="" width="80" height="80">
        <strong>Plan Famiestado al 100%</strong>
        <strong>$1.872.477</strong>
        <span>DAÑOS A TERCEROS</span>
        <p>$4.000 millones</p>
        <span>PÉRDIDA TOTAL</span>
        <p>Sin deducible</p>
        <span>PÉRDIDA PARCIAL</span>
        <p>Deducible 10% mínimo 1 smmlv</p>
        <span>COBERTURA</span>
        <p>- Grúa: Por avería y accidente.<br>
        - Conductor elegido: Ilimitado.<br>
        - Vehículo de reemplazo: Por pérdida total y parcial.</p>
        <a href="">Ver detalles</a>
        <button class="ng-zalabin__btn">Solicitar</button>
    </div>
    <div class="ng-compare__item">
        <span class="ng-compare__item--close">x</span>
        <img src="./../../../assets/img/axa.png" alt="" width="80" height="80">
        <strong>Plan Famiestado al 100%</strong>
        <strong>$1.872.477</strong>
        <span>DAÑOS A TERCEROS</span>
        <p>$4.000 millones</p>
        <span>PÉRDIDA TOTAL</span>
        <p>Sin deducible</p>
        <span>PÉRDIDA PARCIAL</span>
        <p>Deducible 10% mínimo 1 smmlv</p>
        <span>COBERTURA</span>
        <p>- Grúa: Por avería y accidente.<br>
        - Conductor elegido: Ilimitado.<br>
        - Vehículo de reemplazo: Por pérdida total y parcial.</p>
        <a href="">Ver detalles</a>
        <button class="ng-zalabin__btn">Solicitar</button>
    </div>
    <div class="ng-compare__item">
        <span class="ng-compare__item--close">x</span>
        <img src="./../../../assets/img/axa.png" alt="" width="80" height="80">
        <strong>Plan Famiestado al 100%</strong>
        <strong>$1.872.477</strong>
        <span>DAÑOS A TERCEROS</span>
        <p>$4.000 millones</p>
        <span>PÉRDIDA TOTAL</span>
        <p>Sin deducible</p>
        <span>PÉRDIDA PARCIAL</span>
        <p>Deducible 10% mínimo 1 smmlv</p>
        <span>COBERTURA</span>
        <p>- Grúa: Por avería y accidente.<br>
        - Conductor elegido: Ilimitado.<br>
        - Vehículo de reemplazo: Por pérdida total y parcial.</p>
        <a href="">Ver detalles</a>
        <button class="ng-zalabin__btn">Solicitar</button>
    </div>
    <div class="ng-compare__item--none">
        
        <img src="./../../../assets/img/axa.png" alt="" width="40" height="40">
        <p>Agregar otro seguro</p>
    </div>
    <div class="ng-compare__item--none">
        
        <img src="./../../../assets/img/axa.png" alt="" width="40" height="40">
        <p>Agregar otro seguro</p>
    </div>
    
</section>
