.ng-form-container__list--item .p-button{
    background-color: white;
    border-color:  rgba(0, 0, 0, 0.38);
    border-width: 1px 1px 1px 0px;
    color: #000;
}
.ng-form-container__list--item .p-inputtext{
    border-width: 1px 0px 1px 1px;
    border-color:  rgba(0, 0, 0, 0.38);;
}
.ng-form-container__list--item .p-calendar .p-datepicker {
    min-width: 65%;
}